body {
    margin: 0%;
}
.nav-option:hover{
color: red;
font-weight: bold;
}
.dropdown-item:hover{
    color: blue;
}
.head-div {
    height: 40px;
    width: 100%;
    background-color: rgb(10, 202, 202);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-div {
    margin-top: 0%;
    height: 105px;
    width: 100%;
    background-color: rgb(225, 251, 251);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.open-book-label {
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 130px;

}

.logo {
    margin-bottom: 0;

    margin-left: 20px;
}

.navigation {
    display: inline-block;
    margin: 10px 30px;
    text-decoration: none !important;
    color: #130f0f;
    margin-left: auto;
}

.nav-links {
    align-items: center;

    display: inline-block;
    margin: 10px 30px;
    text-decoration: none;
    color: #1c1919;
}

.nav-links ul li {
    text-decoration: none;
    color: #100e0e;
}

/* sign up */
.sign-up {
    margin-right: 50px;
    text-decoration: none;
    margin-top: 10px;
}

.login {
    border: none;
    margin-right: 40px;
    background-color: rgb(10, 202, 202);

}

.login:hover {
    border: none;
    border-radius: 10px;

}

.anchor-link {
    text-decoration: none;
    color: black;
    background-color: rgb(10, 202, 202);
}

.anchor-link:hover {
    display: block;
    text-decoration: none;
    color: rgb(215, 241, 15);
    border-radius: 10px;
}

.body-structure {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
}

.img {
    height: 400px;

}

.std-cource {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h1-div {
    padding: 50px;
}

.h1-para {
    font-size: 25px;
}
.cource-cards-div{
    display: flex;
    justify-content: space-evenly;
}

.cource-cards-div .card{
    height: 300px;
    margin-top: 60px;
    width: 270px;
    border-radius: 5px;
   
} 
.cource-cards-div .card:hover{
    box-shadow: #adabab 3px 2px 10px 7px;

}
.cource-card{
    height: 220px;
    width: 270px;
    border: 5x solid black;

}


.loginhere{
    background-color: blue;
    padding: 10px 50px;
    border-radius: 25px;
    color: white;
    border: 2px solid white;
    margin-top: 30px;
}




.card-h {
    text-align: center;
}

.UNIQUE-RTC{
    margin-top: 50PX;
    color: rgb(0, 21, 255);
    margin-bottom: 0%;

}
.live-class{
    background-color: white;
    height: 110px;
    margin-left: 40px ;
    width: 380px;
    border: 2px solid rgb(205, 201, 201);
    margin: 20px;
    padding: 5px;
    display: inline-block; vertical-align: middle;
    border-radius: 10px;
    padding-left: 5px;
    

}
.recorded-classes{
    height: 130px;
    background-color: white;
    margin-left: 40px ;
    width: 380px;
    border: 2px solid rgb(205, 201, 201);
    margin: 20px;
    padding: 5px;
    display: inline-block; vertical-align: middle;
    border-radius: 10px;
 margin-top: 40px;
    padding-left: 5px;

}
.structured-learning{
    background-color: white;
    height: 110px;
    margin-left: 40px ;
    width: 380px;
    border: 2px solid rgb(205, 201, 201);
    margin: 20px;
    padding: 5px;
    display:inline-block;
    border-radius: 10px;
   
    padding-left: 5px;

}
.feture-con{
    height: 50px;
     width: 90px;
   
}
.feture-div{
    background-color: rgb(230, 244, 244);
}
.feature-heading{
margin-bottom: 0;
}
.interest{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
}
.cource-label-heading{
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}
.footer{
    height: 300px;
    margin-top: 50px;
    background-color: rgb(48, 48, 154);
}
.marq{
    font-size: 22px;
    margin-right: 100px;
    color: red;
}
.feture-img-div{
    display: flex;
    flex-direction: row-reverse;
}
.feture-img{
    height: 20px;
}